@import "../normal.css";
@import "../fonts.css";

:root{
    --off-white: #ffffff;
    --grey-line: #cccccc;
    --off-black:#272425;

    --b-back: --off-white; /* background */
    --t-color: #1D1D1D; /* text-color */
    --h-color: #911C21; /* heading-color */

    --p-t-f: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --h-t-f: roboto_condensed, Arial, Helvetica, sans-serif;
}


html{
    font-size:100%;
    box-sizing: border-box;
    margin: auto;
    display: block;
    background-color: var(--b-back);
    color: var(--t-color);
}

[hidden] {
    display:none !important;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.contain{
    width:90%;
    margin:auto;
    padding-bottom: 5rem;
}
img{
    width: 75%;
    display: block;
    margin: auto;
}

h1, #alpha h2{text-align: center;}
h1,h2,h3,h4,h5,h6{
    font-family: var(--h-t-f);
    color:var(--h-color);
}
p{
    font-family: var(--p-t-f);
    text-indent: 2rem;
    width:75ch;
    margin: auto;
    padding-bottom: 2rem;
}


#site{
    color: var(--t-color);
}

#titleA{
    color:var(--h-color);
    margin:0;
    padding:0;
}
#titleA:hover{
    color: var(--grey-line)
}

#menu_b img, #search_b img, #menu_a img, #search_a img{
    width:35rem;
    padding-bottom: 2rem;
}

h3{text-align: center;}

.aft ul
{
    font-family: var(--p-t-f);
    color: var(--t-color);
    font-weight: bold;
    line-height: 0;
    margin: 0;
    padding: .5rem 1rem;
    text-align: justify;}
.aft ul li
{
    list-style: none;
    line-height: 100%;
    padding: 1rem;
}


